$primary: #c6ac8f;
$basic-text: black;
$contrast-text: white;

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

h1 {
  font-family: Kavivanar, cursive;
  text-align: center;
}

h2 {text-align: center;
color: $primary;}
header {
  border: 20px solid $primary;
  background-color: $primary;
  color: $contrast-text;

  .social_media img {
    float: right;
    width: 30px;
    padding-right: 10px;
  }
}

.main {
  padding: 20px;
  margin: 5px auto;
  overflow: auto;
  text-align:center;
  img {
    background-size: cover;
  }
}

.footer {
  border: 30px solid $primary;
  background-color: $primary;
  color: $contrast-text;
  padding: 10px;

  a {
    text-decoration: none;
    color: $contrast-text;
  }
  img {
    width: 30px;
    padding-right: 10px;
  }
  .copyright {
    text-align: end;
  }
}

.menu {
  border: 2px solid $contrast-text;
  background-color: $primary;

  &__list {
    list-style: none;
    text-align: center;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 2px;

  &__link {
    flex: 0 1 auto;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    color: $contrast-text;
    font-size: 15px;
    line-height: 55px;

    &:hover,
    &:focus {
      background-color: white;
      color: $primary;
    }
  }
}}

.uvodni_foto {
  width: 100%;
  margin: 30px auto;
  @media screen and (min-width: 1100px) {max-width:100%;}
  
}

.border_text{border: 3px solid $primary;
padding: 15px;}
.text {font-size: 18px;color: $primary; font-weight: 600;
  }
.odkaz {&:hover,
  &:focus {
    background-color: $primary;
    color: white;}}

.oteviraci_doba {
  border: 10px solid $primary;
  background-color: $primary;
  max-width: 70%;
  color: $contrast-text;
  font-size: 18px;
  text-align:center;
  margin: 30px 0px;
}

.rezervace {
  background-color: $contrast-text;
  color: $primary;
  border: 5px solid $primary;
  border-radius: 20px;
  line-height: 6;
  
}

.box {
  border: 5px solid $primary;
  padding:20px;
  margin: 20px 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: $basic-text;
  font-weight: bold;
}
img {
  width: 80px;
  float: left;
}

.ikona {
  width: 30px;
  float:inherit;
  padding-right: 10px;
  
}
.odkaz_mapa {
  width: 25%;
}

.text_left{text-align: left}