$primary: #c6ac8f;
$secondary: #dec1a0;

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Karla, sans-serif;
  margin:0;
}

h1 {
  font-family: Kavivanar, cursive;
}

.header {
  border: 20px solid $primary;
  background-color: $primary;
  color: white;
}

.footer {
  border: 30px solid $primary;
  background-color: $primary;
  color: white;
}
.menu {
  border: 10px solid $secondary;
  background-color: $secondary;
  color:white;

&__list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

&__link {
  text-decoration: none;
  padding: 15px 30px;
  font-weight: bold;
  color: white;
  font-size: 25px;
}}
